.old-browse-blocking {
  position: absolute;
  position: fixed;
  z-index: 5000;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.92);
  text-align: center;
  padding: 50px 20px;
  font-size: 16px;
  line-height: 1.5;
}
.old-browse-blocking * {
  transition: 0.1s;
  text-shadow: 0 0 20px white;
}
.old-browse-blocking__title {
  font-size: 24px;
  line-height: 1.4;
}
.old-browse-blocking__recommended-browsers {
  font-weight: bold;
}
.old-browse-blocking__link {
  display: inline-block;
  text-decoration: none;
  color: white;
  background: #2196F3;
  padding: 6px 20px 8px;
  border-radius: 4px;
  margin: 0 5px;
  text-shadow: none;
  margin-bottom: 10px;
}
.old-browse-blocking__link:hover {
  background-color: #03A9F4;
  color: white;
}
